body {background-color: #faeae6}
nav {background-color: #e3e1e2; 
        padding: 10px;
        margin-bottom: 30px;}
nav a {color: #ed4e2b; }
nav a:hover{background-color: #e695c4}
@media screen and (max-width: 768px) {
        nav {
            display: block; 
        }
    
        nav a {
            display: block; 
            width: 100%; 
            padding: 10px 0; /
        }
    
        .separator { 
            display: none; 
        }
    }